/* Center the h1 title */
h1 {
    text-align: center;
}

/* Side-by-side divs with 45% width */
.side-by-side {
    width: 45%;
    display: inline-block;
}

/* Last div with 100% width and 60% margin-top */
.last-div {
    width: 100%;
    margin-top: 60%;
    float: right;
    margin-bottom: 20px;
}

/* Set the weight of h3 tags to 500 */
h3 {
    font-weight: 500;
}

/* Set the weight of lists to 300 */
ul, ol {
    font-weight: 300;
}

/* Apply 1px solid red border with 15px border-radius to ordered list and its title */
ol, ol h3 {
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
    list-style-position: inside; /* Numbers inside the border */
}

/* Apply 1px dashed red border with 15px border-radius to unordered list and its title */
ul, ul h3 {
    border: 1px dashed red;
    border-radius: 15px;
    padding: 10px;
    list-style-type: upper-roman; /* Change bullet points to upper-roman */
    list-style-position: inside; /* Bullets inside the border */
}

/* Add :hover to links to show underlines */
a:hover {
    text-decoration: underline;
}
